/* Import OpenDyslexic */

@font-face {
    font-family: 'Noto Sans';
    src: url('https://file.garden/ZnwfXL-zy2Zk1E4c/Noto_Sans/static/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('https://file.garden/ZnwfXL-zy2Zk1E4c/Noto_Sans/static/NotoSans-Italic.ttf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('https://file.garden/ZnwfXL-zy2Zk1E4c/Noto_Sans/static/NotoSans-Bold.ttf');
	font-weight: bold;
	font-style: normal;
} 

@font-face {
	font-family: 'Noto Sans';
	src: url('https://file.garden/ZnwfXL-zy2Zk1E4c/Noto_Sans/static/NotoSans-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

/* ----------------------------------------------------------------------- */

/* Backwards Compatibility */

:root {
	--line-spacing: var(--message-line-spacing);
}

/* Apply styles */

::-webkit-input-placeholder, body, button, input, select, textarea {
    font-family: 'OpenDyslexic', 'Whitney', sans-serif !important;
    word-spacing: var(--word-spacing, initial);
    letter-spacing: var(--letter-spacing, initial);
}

/* Adjust formatted text line-height */

[class*="messageContent-" i] {
    line-height: var(--message-line-spacing, initial) !important;
}

/* Scale up timestamps & "Edited" text */

[class*="group-spacing" i] [class*="timestamp"],
[class*="messageContent-" i] time {
    font-size: .9rem;
}
